<div>
    <div class="flex justify-content-center">
        <input type="text" class="col-4 my-5" (keyup.enter)="pesquisarJogo($event)" />
    </div>
    <div *ngFor="let entidade of entidades" class="grid nested-grid w-full">
        <div class="col-2">
            <img class="w-full max-w-5rem" [src]="entidade.thumb" />
        </div>
        <div class="col-10">
            <div class="grid">
                <div class="col-12">
                    <h3>{{entidade.externo}}</h3>
                </div>
                <div *ngFor="let loja of entidade.lojas" class="col-2">
                    <ng-container [ngSwitch]="loja.lojaId">
                        <div *ngSwitchCase="1">
                            <img src="./assets/steam-icon.png" class="max-w-2rem">
                            <p>Steam</p>
                        </div>
                        <div *ngSwitchCase="7">
                            <p>GOG</p>
                        </div>
                        <div *ngSwitchCase="8">
                            <p>Origin</p>
                        </div>
                        <div *ngSwitchCase="13">
                            <p>Uplay</p>
                        </div>
                        <div *ngSwitchCase="25">
                            <p>Epic Games Store</p>
                        </div>
                        <div *ngSwitchCase="31">
                            <p>Blizzard Shop</p>
                        </div>
                    </ng-container>
                </div>
            </div>
        </div>
    </div>
</div>