<div class="bg-black-alpha-90">
    <div class="grid">
        <div class="col-8 pl-8 ">
            <img src="./assets/logo-f.webp" width="200" height="50">
        </div>
        <div class="col-4 my-6 pl-8">
            <a class="text-white" href="/home">Pagina inicial</a>
            <i class="pi pi-circle-fill m-2 mb-3" style="font-size: 0.4rem; color: white "></i>
            <a class="text-white" href="/browse">Navegar</a>
            <i class="pi pi-circle-fill m-2 mb-3" style="font-size: 0.4rem; color: white "></i>
            <a class="text-white" href="/search">Pesquisa</a>
        </div>
    </div>
</div>