<div class="grid w-6 bottom-0">
    <div class="col-6 flex justify-content-center">
        <img src="./assets/banana-da-prata.webp" width="80" height="80">
        <div class="px-3">
            <p class="text-xl font-bold mb-2 pt-3">Tiago Tavares</p>
            <p class="text-sm font-bold	">Telefone: (15)991201-2253</p>
            <div>
                <i class="pi pi-linkedin m-2 mb-3" style="color: black "></i>
                <i class="pi pi-instagram m-2 mb-3" style="color: black "></i>
                <i class="pi pi-envelope m-2 mb-3" style="color: black "></i>
                <i class="pi pi-twitter m-2 mb-3" style="color: black "></i>
            </div>
        </div>
    </div>
    <div class="col-6 flex justify-content-center">
        <img src="./assets/banana-da-prata.webp" width="80" height="80">
        <div class="px-3">
            <p class="text-xl font-bold mb-2 pt-3">Tiago Tavares</p>
            <p class="text-sm font-bold	">Telefone: (15)991201-2253</p>
            <div>
                <i class="pi pi-linkedin m-2 mb-3" style="color: black "></i>
                <i class="pi pi-instagram m-2 mb-3" style="color: black "></i>
                <i class="pi pi-envelope m-2 mb-3" style="color: black "></i>
                <i class="pi pi-twitter m-2 mb-3" style="color: black "></i>
            </div>
        </div>
    </div>
</div>